body{
    margin: 0;
}
.header{
    display:flex;
    justify-content:space-between;   
    align-items: center;
    padding-inline: 200px; 
}
.nav{
    display: flex;
    gap: 20px;
}
.logo{
    width: 150px;
}
.main{
    
}
.banner{
    width: 100%;
}
.main-nav{
    padding: 61px 69px;
    display: flex;
    justify-content: space-between;
}
.nav-button{
    background-color: #D9D9D9;
    padding:10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    font-family: Arial;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.model{
    color: #000;
    font-family: Arial;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 144px */
    letter-spacing: -1.056px;
    text-align: center;
}
.button{
    text-decoration: none;
    color:black;
    border: 2px solid black;
    padding:5px 10px;
    border-radius: 30px;
    
}